%h2 1.x

%p
  The official repository is located on #{ link_to 'GitHub', 'https://github.com/rubychan/coderay' }.

%p
  Also, visit the #{ link_to 'Redmine', 'http://odd-eyed-code.org/projects/coderay' }
  project page and bugtracker for CodeRay.

%h2 0.9

%p
  To get the previews version of CodeRay project, you need to use #{ link_to 'Subversion', 'http://svn.rubychan.de/coderay' }.
